<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    display: flex;
    flex-direction: row;
</style>
<header>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/edit">Edit</a>
</header>
{{{ body }}}
</body>
</html>
