<header class="header">
  <ul>
    <li *ngIf="tokenState"><a routerLink="{{links.HOME}}">Courses</a></li>
    <li *ngIf="tokenState"><a routerLink="{{links.CREATE_COURSE}}">Create Course</a></li>
    <li *ngIf="tokenState"><a routerLink="{{links.STRONG_SEARCH}}">Search</a></li>
    <li *ngIf="tokenState"><a routerLink="{{links.AGGREGATION}}">Aggregation</a></li>
    <li *ngIf="tokenState"><a routerLink="{{links.CLIENTS}}">Clients</a></li>
    <li *ngIf="tokenState"><a routerLink="{{links.USERS}}">Users</a></li>
    <li *ngIf="tokenState" (click)="logout()">Logout User</li>
    <li *ngIf="!tokenState"><a routerLink="{{links.CREATE_USER}}">Create User</a></li>
    <li *ngIf="!tokenState"><a routerLink="{{links.LOGIN_USER}}">Login User</a></li>
  </ul>
</header>

