<h1> Update course </h1>
{{#if courses.length}}
    <ul>
        {{#each courses}}
        <form action="/edit" method="post">
                <li>
                 <strong>name:</strong> <input type="text" value="{{this.name }}">
                <strong> title: </strong>  <input type="text" value="{{this.title }}">
                <strong> price: </strong> <input type="number" value="{{this.price }}">
                <input type="button" value="Update" >
                </li>
            </form>
        {{/each}}
    </ul>
{{else}}
<p>
    Empty
</p>
{{/if}}
