<span>List of courses</span>
<form method="POST" action="/">
    <label>
        <input type="text" placeholder="name" name="name">
    </label>
    <label>
        <input type="text" placeholder="title" name="title">
    </label>
    <label>
        <input type="number" placeholder="price" name="price">
    </label>
    <button type="submit">Add new course</button>
</form>
<div>
</div>
<ul>
    <li></li>
</ul>
